name: Deploy to fly

on: 
#   push:
#     branches:
#       - main
  # pull_request:
  workflow_dispatch

  jobs:
  fly_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Antora Site
        uses: kameshsampath/antora-site-action@v0.2.4
        with:
          antora_playbook: playbook.yml
      - name: Fly deploy
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}